.delete-button {
    border-radius: 50%;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    border: 2px solid red;
    background: transparent;
    color: red;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.disabled {
    color: #ccc;
    pointer-events: none;
}

.list-group-item {
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
}

.item-style {
    width: 800px;
    height: 52px;
    position: relative;
    top: 132px; 
    left: 53%;
    transform: translateX(-50%);
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 8px;
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
